.container{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    border:1px solid #333;
    display: flex;
    flex-direction: column;
}

.icon{
    font-size: 22px;
}

.iconButton{
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.searchContainer{
    padding: 5px 10px;
    border-bottom: 1px solid #333;
}


.list{
    all:unset;

}

.listItem{
    all:unset;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.listItem:hover{
    background: #444;
}

.list::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
}

/* Track */
.list::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
}


.tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabItem{
    all: unset;
    margin: 0 5px;
    user-select: none;
    opacity: 0.7;
    gap: 5px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
    transition: .2s linear;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabItem:hover{
    background: #444;
}

.activeTab{
    cursor: default;
    opacity: 1;
}


.warning{
    user-select: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
